<div class="text-layout">
    <h1>{{nombre | lowercase}}</h1>
    <h1>{{objeto | json}}</h1>
    <h1>{{valor | number}}</h1>
    <button pButton class="p-button-help" type="button" label="Click" icon="pi pi-check" iconPos="right"></button>
    <br><br>
    <p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi nemo tenetur reiciendis officia sequi harum, magni dolorum, nam dolore repellendus ab asperiores sed alias minus placeat id repellat nesciunt fugit?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum eum perspiciatis, commodi inventore iste voluptatibus blanditiis aliquam harum reiciendis corporis. Quibusdam in molestiae excepturi amet atque. Reprehenderit unde ut debitis?
        <ng-template pTemplate="footer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quibusdam molestiae aliquid recusandae natus, provident tempore harum necessitatibus optio temporibus quod corporis sequi sit ex placeat qui sunt impedit esse.
        </ng-template>
    </p-card>

    <button class="btn btn-primary">Bootstrap</button>
</div>

