<div class="text-layout mt-2">
    <h1>Pipes Comunes</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid text-layout">
    <div class="col md:col-4 sm: col-12">
        <p-card header="uppercase" [subheader]="nombreUppercase">
            {{ nombreLowercase | uppercase }}
        </p-card>
    </div>
    <div class="col md:col-4 sm: col-12">
        <p-card header="lowercase" [subheader]="nombreLowercase">
            {{ nombreUppercase | lowercase }}
        </p-card>
    </div>
    <div class="col md:col-4 sm: col-12">
        <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout mt-4">
    <h1>Fecha | Date | Pipe</h1>
    <p>
        Pipes para mostrar las Fechas
    </p>
</div>

<div class="grid">
    <div class="col md:col-6 sm:col-12">
        <p-card [header]="locale">
            <ul>
                <li>Fecha | Date</li>
            </ul>
        </p-card>
    </div>
    <div class="col md:col-6 sm:col-12">
        <p-card [header]="locale">
            <ul>
                <li>{{ fecha_local }}</li>
            </ul>
        </p-card>
    </div>
</div>